.my-loader-wrapper {
  z-index: 5000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
}

.my-loader-wrapper .my-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #80b435;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
